<%= form_for @order, url: checkout_create_path do |f| %>
<% if @order.errors.any? %>
<div id="error_explanation">
<h2>
<%= pluralize(@order.errors.count, "error") %> interdisant la sauvegarde de cette commande :
</h2>

<ul>
<% @order.errors.full_messages.each do |message| %>
<li><%= message %></li>
<% end %>
</ul>
</div>
<% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <% if @current_cart.line_items.present? %>
    <%= hidden_field_tag 'stripeToken' %>
    <%= submit_tag 'Buy now' %>

  <% end %>
  <% end %>
