<p style="color: green"><%= notice %></p>

<p style="color: green"><%= notice %></p>
<div class="container">
<h1 class= "title is-2">Products</h1>




      <p style="color: green"><%= notice %></p>
      <div class="container">
        <div class="row">
          <div class="col 4" id="cart">
            <% if @cart && @cart.line_items.any? %>
              <%= render @cart %>
              <%= button_to 'Show cart', @cart %>
            <% else %>
              <h2>PANIER VIDE </h2>
            <% end %>
            <%= yield %>
          </div>
        </div>
    </div>

<style>
.card-product {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;

}

.product-image {
  height: 300px; /* Adjust the height as desired */
  width: 250px;
  object-fit: none;
}

</style>


  <div class="row my-2 p-3">
    <div class="card-product d-flex flex-wrap">
      <% @products.each do |product| %>
        <div class="col-12 col-sm-4 mb-4">
          <div class="card h-100">
            <%= image_tag product.image_url, alt: product.name, class: "card-img-top img-fluid rounded-top product-image" %>
            <div class="card-body">
              <h5 class="card-title"><%= product.name %></h5>
              <p class="card-text"><%= product.price %></p>
              <% if product.user %>
                <div class="d-flex align-items-center">
                  <i class="fas fa-quote-left me-2"></i>
                  <small>Sold by <%= product.user.name  %></small>
                </div>
              <% end %>
              <div class="d-flex justify-content-between mt-3">
                <%= link_to "Add to cart", line_items_path(product_id: product.id), method: :post, class: "btn btn-primary" %>
                <%= link_to "Show cart", @cart, class: "btn btn-secondary" %>
                <%= link_to "Delete", product_path(product.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove" }, class: "btn btn-danger" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= link_to "New product", new_product_path, class: "btn btn-success" %>
</div>
